*.yml
!lib/versioning.yml
**/__pycache__
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
!engines/bot/game_logs/*.pgn
*.pt
*.pth
*.log
TEMP/*
engines/bot/model/*
!engines/bot/model/mlp_model.pth
data/process_data/bin/
data/process_data/obj/
data/process_data/.vs/
.env
azure
